<b>Créer un compte et amusez-vous bien!</b><br/><br/><br/>
<tbody>
  <tr>
    <td>
      <input placeholder="Nom" type="text" name="nom" id="nom" [(ngModel)]="nom">
    </td>
    <td>
      <input placeholder="Prenom" type="text" name="prenom" id="prenom" [(ngModel)]="prenom">
    </td>
  </tr>
  <tr>
    <td>
      <input placeholder="Adresse e-mail" type="email" name="email" id="email" [(ngModel)]="email">
    </td>
    <td>
      <input placeholder="Mot de passe" type="password" name="pass" id="pass" [(ngModel)]="pass">
    </td>
  </tr>
  <tr>
    <td>
      <input placeholder="n° tel" type="tel" name="tel" id="tel" [(ngModel)]="tel">
    </td>
    <td>
      <input placeholder="Adresse" type="adresse" name="adresse" id="adresse" [(ngModel)]="adresse">
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="CreatAcountClick()" routerLink="/accueil">
        Creer compte
      </button>
    </td>
  </tr>
</tbody>
