<b>Connectez-vous!</b><br/><br/><br/>

<tbody>
      <tr>
          <td>
            <input placeholder="Adresse e-mail" type="email" name="email" id="email" [(ngModel)]="email">
          </td>
          <td>
            <input placeholder="Mot de passe" type="password" name="pass" id="pass" [(ngModel)]="pass">
          </td>
          <td>
            <button routerLink="/accueil" class="buttonConnex" (click)="ConnectionClick()">
              Connexion
            </button>
          </td>
      </tr>
      <tr>
          <td>
            <button routerLink="/accueil" class="buttonFacebook" (click)="logInWithFacebook()">
              Sign in with Facebook
            </button>
          </td>
          <td>
            <button routerLink="/accueil" class="buttonGoogle" (click)="logInWithGoogle()">
              Sign in with Google  
            </button>
          </td>
      </tr>
</tbody>



