<h1>Films </h1>

 <ul>
    <li><input placeholder="Rechercher un film" type="search" name="search" id="search" [(ngModel)]="searchQuery"></li>
    <li><button (click)="searchQueryClick()">search</button></li>
  </ul>

  <div *ngIf="RechercheTrouve">
    <div *ngIf="SMResponse.results.length>0 ; else vide">
      <a class="card" *ngFor="let film of SMResponse.results">
        <div routerLink="/filmdetails" (click)="clickForDetails(film.id)" class="fiche">
          {{film.title}}<br/>
          <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}"/><br/>
          popularity:{{film.popularity}}<br/>
          release_date : {{film.release_date}}<br/>
          vote_average : {{film.vote_average}}<br/>
        </div>
        <div *ngIf="this.auth.connected">
          <button class="remove" *ngIf="existeDeja(film)" (click)="SuppFilm(film.id)">remove</button>
          <button *ngIf="!existeDeja(film)" (click)="ajouterFilm(film.id)">add</button>
        </div>
      </a>
    </div>
    <ng-template #vide>
        <b>No results</b>
    </ng-template>
  </div>



  <div *ngIf="!RechercheTrouve">

    <br/><br/><br/>
    <b>Popular Movies</b><br/>
    <div class="scrollmenu" *ngIf="popularFilmsExists()">
      <a *ngFor="let film of popularFilms.results">
        <div class="fiche" routerLink="/filmdetails" (click)="clickForDetails(film.id)">
          {{film.title}}<br/>
          <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}"/><br/>
          popularity:{{film.popularity}}<br/>
          release_date : {{film.release_date}}<br/>
          vote_average : {{film.vote_average}}<br/>
        </div>
        <div *ngIf="this.auth.connected">
          <button class="remove" *ngIf="existeDeja(film)" (click)="SuppFilm(film.id)">remove</button>
          <button *ngIf="!existeDeja(film)" (click)="ajouterFilm(film.id)">add</button>
        </div>
      </a>
    </div>

    <br/><br/><br/>
    <b>up Coming Movies</b><br/>
    <div class="scrollmenu" *ngIf="upComingFilmsExists()">
      <a *ngFor="let film of upComingFilms.results">
        <div class="fiche" routerLink="/filmdetails" (click)="clickForDetails(film.id)">
          {{film.title}}<br/>
          <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}"/><br/>
          popularity:{{film.popularity}}<br/>
          release_date : {{film.release_date}}<br/>
          vote_average : {{film.vote_average}}<br/>
        </div>
        <div *ngIf="this.auth.connected">
          <button class="remove" *ngIf="existeDeja(film)" (click)="SuppFilm(film.id)">remove</button>
          <button *ngIf="!existeDeja(film)" (click)="ajouterFilm(film.id)">add</button>
        </div>
      </a>
    </div>

    <br/><br/><br/>
    <b>Top Rated Movies</b><br/>
    <div class="scrollmenu" *ngIf="topRatedFilmsExists()">
      <a *ngFor="let film of topRatedFilms.results">
        <div class="fiche" routerLink="/filmdetails" (click)="clickForDetails(film.id)">
          {{film.title}}<br/>
          <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}"/><br/>
          popularity:{{film.popularity}}<br/>
          release_date : {{film.release_date}}<br/>
          vote_average : {{film.vote_average}}<br/>
        </div>
        <div *ngIf="this.auth.connected">
          <button class="remove" *ngIf="existeDeja(film)" (click)="SuppFilm(film.id)">remove</button>
          <button *ngIf="!existeDeja(film)" (click)="ajouterFilm(film.id)">add</button>
        </div>
      </a>
    </div>
</div>
