img {
    width: 100px;
    height: 100px;
  }
div.card:hover{
    background-color: #777;
    img{
      width: 150px;
      height: 150px;
    }
  }
  

  .card {
  width: 20vw;
  float: left;
  margin: 6px;
  text-align: center;
  height: 30vw;
  background-color: #333;
  color: white;
}
  
button {
  display: inline-block;
  padding: 5px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
}

button:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  