<h1>Pizzas </h1>
 
<a class="card" *ngFor="let pizza of this.platsService.plats">
    <div (click)="clickForDetails()" class="fiche">
        {{pizza.infos.plat}}<br/>
            
    <img src="{{pizza.infos.imagePath}}"/><br/>
    <ul>
        <li *ngFor="let in of pizza.ingredients">{{in.ingredient}}</li>
    </ul>    
    <div>{{pizza.infos.prix}} €</div>

    </div>
    <div *ngIf="this.auth.connected">
        <div class="inline">
            <button (click)="enlever(pizza)">-</button>
            <a>{{this.quantite(pizza)}}</a>
            <button (click)="ajouter(pizza)">+</button>
        </div>
    </div>
</a>