<div *ngIf="ps.listPlats.length > 0">
  <b>Plats:</b><br/>
  <tbody>
    <div *ngFor="let plat of ps.listPlats">
      <br/><br/>
      <tr>
        <td><img src="{{plat.plat.infos.imagePath}}"/></td>
        <td><b>{{plat.plat.infos.plat}}</b></td>
        <td><b>{{plat.plat.infos.prix}}€</b></td>
        <button class="plat" (click)="enlever(plat)">-</button>
        <a>{{plat.quantite}}</a>
        <button class="plat" (click)="ajouter(plat)">+</button>
      </tr>
    </div>
  </tbody>
</div>

<div *ngIf="ps.listFilms.length > 0">
  <b>Films:</b><br/>
  <tbody>
    <div *ngFor="let film of ps.listFilms">
      <br/><br/>
      <tr>
        <td><img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}"/></td>
        <td><b>{{film.title}}</b></td>
        <td><b>3,75 €</b></td>
        <td><button (click)="SuppFilm(film.id)" class="supprimerFilm">Remove</button></td>
      </tr>
    </div>
  </tbody>
</div>

<div *ngIf="ps.listFilms.length > 0 || ps.listPlats.length > 0">
  <br/><br/><br/>
  <tbody>
    <tr>
      <td><b>Adresse de livraison</b></td>
      <td><input type="text" [(ngModel)]=" this.panierS.adresseLivraison"></td>
    </tr>
    <tr>
      <td><b>Votre solde de fidelite :</b></td>
      <td>{{ this.panierS.fidelite}}</td>
    </tr>
  </tbody>

  <br/><br/><br/><br/><br/><br/>
  <div class="montant">
    Montant à PAYER : <b>{{this.ps.prixTotal}} €</b> EURO
  </div>
  <br/><br/><br/>
  <button class="normal" (click)="ConfirmerCommande()">
    Confirmer la Commande
  </button>

</div>

<div *ngIf="ps.listPlats.length===0 && ps.listFilms.length===0">
  <b>Pas d'articles!!!</b>
</div>
