
img {
  width: 50px;
}

button{
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;

}

button.plat {
  padding: 5px 7px;
  font-size: 15px;
}

button.normal{
  padding: 15px 25px;
  font-size: 24px;
  box-shadow: 0 9px #999;
  position: absolute;
  right: 100px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


button.supprimerFilm{
  background-color: #f7484d;
}
button.supprimerFilm:hover {background-color: #e90a0a}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

td {
  padding: 0 50px;
}


div.montant{
  position: absolute;
  right: 175px;
}
