<div *ngIf="recherche()">
  <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}"/><br/>


    ID:    <br/>
    {{film.id}}<br/><br/>
    TITLE:<br/>
    {{film.title}}<br/><br/>

    OVERVIEW :<br/>
    {{film.overview}}<br/><br/>
</div>


<tbody>
  <tr>
    <td>
      <button (click)="ajouterFilm()" *ngIf="this.auth.connected && !existeDeja()">
        Ajouter au panier
      </button>
      <button class="retour" *ngIf="existeDeja()" (click)="SuppFilm()">
        Enlever de panier
      </button>
    </td>
    <td>
      <button class="retour" routerLink="/films">
        Retour
      </button>
    </td>
  </tr>    
</tbody>
