img {
  width: 100px;
  height: 100px;
}


ul {
  list-style: none;
}

li {
  display: inline;
  padding: 30px;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.card {
  width: 15vw;
  float: left;
  margin: 6px;
  text-align: center;
  height: 50vw;
}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

div.card:hover {
  img{
    width: 150px;
    height: 150px;
  }
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.montant{
  position: absolute;
  right: 175px;
}


button.retour{
  background-color: #f7484d;
}
button.retour:hover {background-color: #e90a0a}

td {
  padding: 0 50px;
}
