<nav>
  <ul>
    <li><a routerLink="/films">Films</a></li>
    <li><a routerLink="/plats">Plats</a></li>
    <li><a routerLink="/accueil">Accueil</a></li>
    <li *ngIf="isConnected()"><a routerLink="/account">Account</a></li>
    <li *ngIf="isConnected()"><a routerLink="/account">Mes Commandes</a></li>
    <li *ngIf="isConnected()"><a routerLink="/panier">Panier</a></li>
    <li *ngIf="isConnected()" (click)="logout()"><a routerLink="/">Log Out</a></li>
    <li *ngIf="!isConnected()"><a routerLink="/signup">Sign Up</a></li>
    <li *ngIf="!isConnected()"><a routerLink="/login">Log In</a></li>
  </ul>
</nav>

<br/><br/><br/>
