

ul {
  list-style: none;
}

li {
  display: inline;
  float: left;
  padding: 0 50px;
  background: #333;
  list-style: none;
  margin-right: 5px;
  line-height: 50px;
  height: 50px;
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}

li:hover {
  background-color: #777;
}
