<div *ngIf="uid">
  <a>photo :{{photo}}</a>
  <tbody>
    <tr>
      <td><b>Nom :</b></td>
      <td><input type="text" [(ngModel)]="nom"></td>
    </tr>
    <tr>
      <td><b>Prenom :</b></td>
      <td><input type="text" [(ngModel)]="prenom"></td>
    </tr>
    <tr>
      <td><b>mail :</b></td>
      <td>{{uidDetails.email}}</td>
    </tr>
    <tr>
      <td><b>fidelite :</b></td>
      <td>{{fidelite}}</td>
    </tr>
    <tr>
      <td><b>n° tel :</b></td>
      <td><input type="text" [(ngModel)]="tel"></td>
    </tr>
    <tr>
      <td><b>Adresse :</b></td>
      <td><input type="text" [(ngModel)]="adresse"></td>
    </tr>
    <tr>
      <td>
        <button (click)="changements()">Confirmer changements</button>
      </td>
    </tr>
  </tbody>

</div>
